python-slugify>=3.0.2
cerberus
pyquerystring
parse-accept-language
unidecode
algoliasearch<2.0.0
# shopinvader_import_image
python-magic
validators
-e git://github.com/shopinvader/locomotivecms-python-client.git#egg=locomotivecms
