python-slugify>=3.0.2
cerberus
algoliasearch<2.0.0
unidecode
pysimplesoap
mailjet_rest
requests_mock
pyquerystring
parse-accept-language
-e git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
python-magic
validators

# PENDING PRS
# https://github.com/akretion/locomotivecms-python-client/pull/1
# -e git://github.com/akretion/locomotivecms-python-client.git#egg=locomotivecms
-e git://github.com/acsone/locomotivecms-python-client.git@fix-main_import-dro#egg=locomotivecms
