--extra-index-url=https://wheelhouse.shopinvader.com/simple
# TODO locomotivecms dep should be in the setup.py of the addon that needs it
git+https://github.com/akretion/locomotivecms-python-client.git#egg=locomotivecms
# test requirements
requests_mock
vcrpy
vcrpy-unittest
openupgradelib @ git+https://github.com/OCA/openupgradelib.git
