interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4000000000009235&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSZhL5bxql5W5WQaDAn5Yp\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"9235\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\": \"unchecked\",\n \
        \   \"funding\": \"credit\",\n    \"fingerprint\": \"JCtMjjlt6FHW2W6l\",\n\
        \    \"three_d_secure\": \"optional\",\n    \"name\": null,\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_EiuOahAwW8VVIThA3Htv4Vpb\"\
        ,\n  \"created\": 1552942849,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"\
        address\": null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\"\
        : null,\n    \"verified_address\": null,\n    \"verified_email\": null,\n\
        \    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\"\
        : null,\n  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\"\
        : \"reusable\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1EFSZhL5bxql5W5WQaDAn5Yp
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSZhL5bxql5W5WQaDAn5Yp\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"9235\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\": \"unchecked\",\n \
        \   \"fund[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=http%3A%2F%2Flocomotive%3A3000%2Finvader%2Fcart%2Fcheck_payment%2Fstripe&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1EFSZhL5bxql5W5WQaDAn5Yp'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSZjL5bxql5W5WvTImHpuD\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_EiuOVuYiTuofpQBbqqKbywm9\",\n  \"created\": 1552942851,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\": {\n      \"city\"\
        : null,\n      \"country\": null,\n      \"line1\": null,\n      \"line2\"\
        : null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n   \
        \ \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"http://locomotive:3000/invader/cart/check_payment/stripe\"\
        ,\n    \"status\": \"not_required\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1EFSZjL5bxql5W5WvTImHpuD?client_secret=src_client_secret_EiuOVuYiTuofpQBbqqKbywm9\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1EFSZhL5bxql5W5WQaDAn5Yp\",\n\
        \    \"exp_month\": 12,\n    \"exp_year\": 2040,\n    \"last4\": \"9235\"\
        ,\n    \"country\": \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\":\
        \ \"unchecked\",\n    \"funding\": \"credit\",\n    \"fingerprint\": \"JCtMjjlt6FHW2W6l\"\
        ,\n    \"three_d_secure\": \"optional\",\n    \"customer\": null,\n    \"\
        authenticated\": false,\n    \"name\": null,\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"type\": \"three_d_secure\",\n  \"\
        usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C261&source=src_1EFSZhL5bxql5W5WQaDAn5Yp'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1EFSZlL5bxql5W5WGrDr3Kxc\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 294750,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"application_fee_amount\"\
        : null,\n  \"balance_transaction\": \"txn_1EFSZlL5bxql5W5WdShmMBrQ\",\n  \"\
        captured\": true,\n  \"created\": 1552942853,\n  \"currency\": \"usd\",\n\
        \  \"customer\": null,\n  \"description\": \"SO002|deltapc@yourcompany.example.com|261\"\
        ,\n  \"destination\": null,\n  \"dispute\": null,\n  \"failure_code\": null,\n\
        \  \"failure_message\": null,\n  \"fraud_details\": {\n  },\n  \"invoice\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"on_behalf_of\"\
        : null,\n  \"order\": null,\n  \"outcome\": {\n    \"network_status\": \"\
        approved_by_network\",\n    \"reason\": \"elevated_risk_level\",\n    \"risk_level\"\
        : \"elevated\",\n    \"risk_score\": 56,\n    \"rule\": \"manual_review_if_elevated_risk\"\
        ,\n    \"seller_message\": \"Stripe evaluated this payment as having elevated\
        \ risk, and placed it in your manual review queue.\",\n    \"type\": \"manual_review\"\
        \n  },\n  \"paid\": true,\n  \"payment_intent\": null,\n  \"receipt_email\"\
        : null,\n  \"receipt_number\": null,\n  \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1BiloZL5bxql5W5W/ch_1EFSZlL5bxql5W5WGrDr3Kxc/rcpt_EiuOHLWKp7aUG5MXsx8NskBr8vSHJLt\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":\
        \ 0,\n    \"url\": \"/v1/charges/ch_1EFSZlL5bxql5W5WGrDr3Kxc/refunds\"\n \
        \ },\n  \"review\": \"prv_1EFSZlL5bxql5W5WvseYh2Dy\",\n  \"shipping\": null,\n\
        \  \"source\": {\n    \"id\": \"src_1EFSZhL5bxql5W5WQaDAn5Yp\",\n    \"object\"\
        : \"source\",\n    \"amount\": null,\n    \"card\": {\n      \"exp_year\"\
        : 2040,\n      \"exp_month\": 12,\n      \"last4\": \"9235\",\n      \"country\"\
        : \"US\",\n      \"brand\": \"Visa\",\n      \"cvc_check\": \"pass\",\n  \
        \    \"funding\": \"credit\",\n      \"fingerprint\": \"JCtMjjlt6FHW2W6l\"\
        ,\n      \"three_d_secure\": \"optional\",\n      \"name\": null,\n      \"\
        address_line1_check\": null,\n      \"address_zip_check\": null,\n      \"\
        tokenization_method\": null,\n      \"dynamic_last4\": null\n    },\n    \"\
        client_secret\": \"src_client_secret_EiuOahAwW8VVIThA3Htv4Vpb\",\n    \"created\"\
        : 1552942853,\n    \"currency\": null,\n    \"flow\": \"none\",\n    \"livemode\"\
        : false,\n    \"metadata\": {\n    },\n    \"owner\": {\n      \"address\"\
        : null,\n      \"email\": null,\n      \"name\": null,\n      \"phone\": null,\n\
        \      \"verified_address\": null,\n      \"verified_email\": null,\n    \
        \  \"verified_name\": null,\n      \"verified_phone\": null\n    },\n    \"\
        statement_descriptor\": null,\n    \"status\": \"consumed\",\n    \"type\"\
        : \"card\",\n    \"usage\": \"reusable\"\n  },\n  \"source_transfer\": null,\n\
        \  \"statement_descriptor\": null,\n  \"status\": \"succeeded\",\n  \"transfer_data\"\
        : null,\n  \"transfer_group\": null\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 200, message: OK}
version: 1
