interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4242424242424242&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CWjhaE60z0O0voXLvlbzB67\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n  \
        \  \"fingerprint\": \"kXi8sQ3nJYkhxXwn\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"4242\",\n    \"three_d_secure\": \"optional\",\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_CwcxKqSMjF55lXAB4L0Z4hvM\"\
        ,\n  \"created\": 1527507590,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"owner\": {\n    \"address\"\
        : null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n\
        \    \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\"\
        : null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\": null,\n\
        \  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CWjhaE60z0O0voXLvlbzB67
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CWjhaE60z0O0voXLvlbzB67\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n  \[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=http%3A%2F%2Flocomotive.akretion%2F_store%2Fcart%2Fcheck_payment%2Fstripe&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1CWjhaE60z0O0voXLvlbzB67'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CWjhfE60z0O0voXVpocNCwP\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_CwcxeBwVqQ0IV2i2BLOLdRUS\",\n  \"created\": 1527507595,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"owner\": {\n    \"address\": {\n      \"city\":\
        \ null,\n      \"country\": null,\n      \"line1\": \"\",\n      \"line2\"\
        : null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n   \
        \ \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"http://locomotive.akretion/_store/cart/check_payment/stripe\"\
        ,\n    \"status\": \"succeeded\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1CWjhfE60z0O0voXVpocNCwP?client_secret=src_client_secret_CwcxeBwVqQ0IV2i2BLOLdRUS\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1CWjhaE60z0O0voXLvlbzB67\",\n\
        \    \"customer\": null,\n    \"authenticated\": false\n  },\n  \"type\":\
        \ \"three_d_secure\",\n  \"usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C137&source=src_1CWjhaE60z0O0voXLvlbzB67'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1CWjhhE60z0O0voX9rbX3eSV\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 294750,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"balance_transaction\"\
        : \"txn_1CWjhiE60z0O0voXe9yux9UU\",\n  \"captured\": true,\n  \"created\"\
        : 1527507597,\n  \"currency\": \"usd\",\n  \"customer\": null,\n  \"description\"\
        : \"SO002|deltapc@yourcompany.example.com|137\",\n  \"destination\": null,\n\
        \  \"dispute\": null,\n  \"failure_code\": null,\n  \"failure_message\": null,\n\
        \  \"fraud_details\": {},\n  \"invoice\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"on_behalf_of\": null,\n  \"order\": null,\n  \"\
        outcome\": {\n    \"network_status\": \"approved_by_network\",\n    \"reason\"\
        : null,\n    \"risk_level\": \"normal\",\n    \"seller_message\": \"Payment\
        \ complete.\",\n    \"type\": \"authorized\"\n  },\n  \"paid\": true,\n  \"\
        receipt_email\": null,\n  \"receipt_number\": null,\n  \"refunded\": false,\n\
        \  \"refunds\": {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\"\
        : false,\n    \"total_count\": 0,\n    \"url\": \"/v1/charges/ch_1CWjhhE60z0O0voX9rbX3eSV/refunds\"\
        \n  },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1CWjhaE60z0O0voXLvlbzB67\",\n    \"object\": \"source\",\n   \
        \ \"amount\": null,\n    \"card\": {\n      \"exp_year\": 2040,\n      \"\
        exp_month\": 12,\n      \"brand\": \"Visa\",\n      \"card_automatically_updated\"\
        : false,\n      \"country\": \"US\",\n      \"cvc_check\": \"pass\",\n   \
        \   \"fingerprint\": \"kXi8sQ3nJYkhxXwn\",\n      \"funding\": \"credit\"\
        ,\n      \"last4\": \"4242\",\n      \"three_d_secure\": \"optional\",\n \
        \     \"address_line1_check\": null,\n      \"address_zip_check\": null,\n\
        \      \"tokenization_method\": null,\n      \"dynamic_last4\": null\n   \
        \ },\n    \"client_secret\": \"src_client_secret_CwcxKqSMjF55lXAB4L0Z4hvM\"\
        ,\n    \"created\": 1527507598,\n    \"currency\": null,\n    \"flow\": \"\
        none\",\n    \"livemode\": false,\n    \"metadata\": {},\n    \"owner\": {\n\
        \      \"address\": null,\n      \"email\": null,\n      \"name\": null,\n\
        \      \"phone\": null,\n      \"verified_address\": null,\n      \"verified_email\"\
        : null,\n      \"verified_name\": null,\n      \"verified_phone\": null\n\
        \    },\n    \"statement_descriptor\": null,\n    \"status\": \"consumed\"\
        ,\n    \"type\": \"card\",\n    \"usage\": \"reusable\"\n  },\n  \"source_transfer\"\
        : null,\n  \"statement_descriptor\": null,\n  \"status\": \"succeeded\",\n\
        \  \"transfer_group\": null\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
version: 1
