interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=378282246310005&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSY7L5bxql5W5WPiomadhP\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"0005\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"American Express\",\n    \"cvc_check\": \"unchecked\"\
        ,\n    \"funding\": \"credit\",\n    \"fingerprint\": \"0cINXAzb7t2hxAkx\"\
        ,\n    \"three_d_secure\": \"not_supported\",\n    \"name\": null,\n    \"\
        address_line1_check\": null,\n    \"address_zip_check\": null,\n    \"tokenization_method\"\
        : null,\n    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_EiuMyOCRekN6VEJefxlfnSqr\"\
        ,\n  \"created\": 1552942751,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"\
        address\": null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\"\
        : null,\n    \"verified_address\": null,\n    \"verified_email\": null,\n\
        \    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\"\
        : null,\n  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\"\
        : \"reusable\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1EFSY7L5bxql5W5WPiomadhP
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSY7L5bxql5W5WPiomadhP\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"0005\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"American Express\",\n    \"cvc_check\": \"unchecked\"\
        ,\[...]
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C249&source=src_1EFSY7L5bxql5W5WPiomadhP'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1EFSY9L5bxql5W5WWhCIeK8e\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 294750,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"application_fee_amount\"\
        : null,\n  \"balance_transaction\": \"txn_1EFSYAL5bxql5W5WOOqmNUgU\",\n  \"\
        captured\": true,\n  \"created\": 1552942753,\n  \"currency\": \"usd\",\n\
        \  \"customer\": null,\n  \"description\": \"SO002|deltapc@yourcompany.example.com|249\"\
        ,\n  \"destination\": null,\n  \"dispute\": null,\n  \"failure_code\": null,\n\
        \  \"failure_message\": null,\n  \"fraud_details\": {\n  },\n  \"invoice\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"on_behalf_of\"\
        : null,\n  \"order\": null,\n  \"outcome\": {\n    \"network_status\": \"\
        approved_by_network\",\n    \"reason\": null,\n    \"risk_level\": \"normal\"\
        ,\n    \"risk_score\": 12,\n    \"seller_message\": \"Payment complete.\"\
        ,\n    \"type\": \"authorized\"\n  },\n  \"paid\": true,\n  \"payment_intent\"\
        : null,\n  \"receipt_email\": null,\n  \"receipt_number\": null,\n  \"receipt_url\"\
        : \"https://pay.stripe.com/receipts/acct_1BiloZL5bxql5W5W/ch_1EFSY9L5bxql5W5WWhCIeK8e/rcpt_EiuMtldYnbf6LbOGn9D6js0RkG1Z86y\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":\
        \ 0,\n    \"url\": \"/v1/charges/ch_1EFSY9L5bxql5W5WWhCIeK8e/refunds\"\n \
        \ },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1EFSY7L5bxql5W5WPiomadhP\",\n    \"object\": \"source\",\n   \
        \ \"amount\": null,\n    \"card\": {\n      \"exp_year\": 2040,\n      \"\
        exp_month\": 12,\n      \"last4\": \"0005\",\n      \"country\": \"US\",\n\
        \      \"brand\": \"American Express\",\n      \"cvc_check\": \"pass\",\n\
        \      \"funding\": \"credit\",\n      \"fingerprint\": \"0cINXAzb7t2hxAkx\"\
        ,\n      \"three_d_secure\": \"not_supported\",\n      \"name\": null,\n \
        \     \"address_line1_check\": null,\n      \"address_zip_check\": null,\n\
        \      \"tokenization_method\": null,\n      \"dynamic_last4\": null\n   \
        \ },\n    \"client_secret\": \"src_client_secret_EiuMyOCRekN6VEJefxlfnSqr\"\
        ,\n    \"created\": 1552942754,\n    \"currency\": null,\n    \"flow\": \"\
        none\",\n    \"livemode\": false,\n    \"metadata\": {\n    },\n    \"owner\"\
        : {\n      \"address\": null,\n      \"email\": null,\n      \"name\": null,\n\
        \      \"phone\": null,\n      \"verified_address\": null,\n      \"verified_email\"\
        : null,\n      \"verified_name\": null,\n      \"verified_phone\": null\n\
        \    },\n    \"statement_descriptor\": null,\n    \"status\": \"consumed\"\
        ,\n    \"type\": \"card\",\n    \"usage\": \"reusable\"\n  },\n  \"source_transfer\"\
        : null,\n  \"statement_descriptor\": null,\n  \"status\": \"succeeded\",\n\
        \  \"transfer_data\": null,\n  \"transfer_group\": null\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 200, message: OK}
version: 1
