interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4100000000000019&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CXB8QE60z0O0voXYkbEKZ3E\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unavailable\",\n\
        \    \"fingerprint\": \"9jhAPa4olihRvO5Z\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"0019\",\n    \"three_d_secure\": \"optional\",\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_Cx5J8C5duKYS5nmPVixl4aB8\"\
        ,\n  \"created\": 1527613042,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"owner\": {\n    \"address\"\
        : null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n\
        \    \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\"\
        : null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\": null,\n\
        \  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1CXB8QE60z0O0voXYkbEKZ3E
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CXB8QE60z0O0voXYkbEKZ3E\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"brand\": \"Visa\",\n    \"card_automatically_updated\"\
        : false,\n    \"country\": \"US\",\n    \"cvc_check\": \"unavailable\",\n\[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=http%3A%2F%2Flocomotive.akretion%2F_store%2Fcart%2Fcheck_payment%2Fstripe&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1CXB8QE60z0O0voXYkbEKZ3E'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1CXB8TE60z0O0voXxGgjjJcJ\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_Cx5JON6njlzz7hcEHFM13S5l\",\n  \"created\": 1527613045,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"owner\": {\n    \"address\": {\n      \"city\":\
        \ null,\n      \"country\": null,\n      \"line1\": \"\",\n      \"line2\"\
        : null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n   \
        \ \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"http://locomotive.akretion/_store/cart/check_payment/stripe\"\
        ,\n    \"status\": \"succeeded\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1CXB8TE60z0O0voXxGgjjJcJ?client_secret=src_client_secret_Cx5JON6njlzz7hcEHFM13S5l\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1CXB8QE60z0O0voXYkbEKZ3E\",\n\
        \    \"customer\": null,\n    \"authenticated\": false\n  },\n  \"type\":\
        \ \"three_d_secure\",\n  \"usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C448&source=src_1CXB8QE60z0O0voXYkbEKZ3E'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"error\": {\n    \"charge\": \"ch_1CXB8UE60z0O0voXdfe2m5Mb\"\
        ,\n    \"code\": \"card_declined\",\n    \"decline_code\": \"fraudulent\"\
        ,\n    \"doc_url\": \"https://stripe.com/docs/error-codes/card-declined\"\
        ,\n    \"message\": \"Your card was declined.\",\n    \"type\": \"card_error\"\
        \n  }\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-07-06']
    status: {code: 402, message: Payment Required}
version: 1
