interactions:
- request:
    body: !!python/unicode 'type=card&card%5Bnumber%5D=4000000000000069&card%5Bexp_year%5D=2040&card%5Bcvc%5D=123&card%5Bexp_month%5D=12'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSZXL5bxql5W5WWgFuO4Vp\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"0069\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\": \"unchecked\",\n \
        \   \"funding\": \"credit\",\n    \"fingerprint\": \"BQ5vUoSyIVIdDU4C\",\n\
        \    \"three_d_secure\": \"optional\",\n    \"name\": null,\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_EiuObuhfhU8hXeIcxLLam1Aj\"\
        ,\n  \"created\": 1552942839,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"\
        address\": null,\n    \"email\": null,\n    \"name\": null,\n    \"phone\"\
        : null,\n    \"verified_address\": null,\n    \"verified_email\": null,\n\
        \    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\"\
        : null,\n  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\"\
        : \"reusable\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1EFSZXL5bxql5W5WWgFuO4Vp
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSZXL5bxql5W5WWgFuO4Vp\"\
        ,\n  \"object\": \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_year\"\
        : 2040,\n    \"exp_month\": 12,\n    \"last4\": \"0069\",\n    \"country\"\
        : \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\": \"unchecked\",\n \
        \   \"fund[...]
- request:
    body: !!python/unicode 'redirect%5Breturn_url%5D=http%3A%2F%2Flocomotive%3A3000%2Finvader%2Fcart%2Fcheck_payment%2Fstripe&currency=USD&amount=294750&type=three_d_secure&three_d_secure%5Bcard%5D=src_1EFSZXL5bxql5W5WWgFuO4Vp'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"src_1EFSZZL5bxql5W5Wl63nbmvx\"\
        ,\n  \"object\": \"source\",\n  \"amount\": 294750,\n  \"client_secret\":\
        \ \"src_client_secret_EiuODVmKieQp2ov0IyqfS58y\",\n  \"created\": 1552942841,\n\
        \  \"currency\": \"usd\",\n  \"flow\": \"redirect\",\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\": {\n      \"city\"\
        : null,\n      \"country\": null,\n      \"line1\": null,\n      \"line2\"\
        : null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n   \
        \ \"email\": null,\n    \"name\": null,\n    \"phone\": null,\n    \"verified_address\"\
        : null,\n    \"verified_email\": null,\n    \"verified_name\": null,\n   \
        \ \"verified_phone\": null\n  },\n  \"redirect\": {\n    \"failure_reason\"\
        : null,\n    \"return_url\": \"http://locomotive:3000/invader/cart/check_payment/stripe\"\
        ,\n    \"status\": \"not_required\",\n    \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1EFSZZL5bxql5W5Wl63nbmvx?client_secret=src_client_secret_EiuODVmKieQp2ov0IyqfS58y\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"three_d_secure\": {\n    \"card\": \"src_1EFSZXL5bxql5W5WWgFuO4Vp\",\n\
        \    \"exp_month\": 12,\n    \"exp_year\": 2040,\n    \"last4\": \"0069\"\
        ,\n    \"country\": \"US\",\n    \"brand\": \"Visa\",\n    \"cvc_check\":\
        \ \"unchecked\",\n    \"funding\": \"credit\",\n    \"fingerprint\": \"BQ5vUoSyIVIdDU4C\"\
        ,\n    \"three_d_secure\": \"optional\",\n    \"customer\": null,\n    \"\
        authenticated\": false,\n    \"name\": null,\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"tokenization_method\": null,\n\
        \    \"dynamic_last4\": null\n  },\n  \"type\": \"three_d_secure\",\n  \"\
        usage\": \"single_use\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=USD&capture=True&amount=294750&description=SO002%7Cdeltapc%40yourcompany.example.com%7C259&source=src_1EFSZXL5bxql5W5WWgFuO4Vp'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"error\": {\n    \"charge\": \"ch_1EFSZaL5bxql5W5WlNZX0SqY\"\
        ,\n    \"code\": \"expired_card\",\n    \"doc_url\": \"https://stripe.com/docs/error-codes/expired-card\"\
        ,\n    \"message\": \"Your card has expired.\",\n    \"param\": \"exp_month\"\
        ,\n    \"type\": \"card_error\"\n  }\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2017-12-14']
    status: {code: 402, message: Payment Required}
version: 1
