interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <wsdl:definitions targetNamespace=\"urn:ec.europa.eu:taxud:vies:services:checkVat\"\
        \ xmlns:tns1=\"urn:ec.europa.eu:taxud:vies:services:checkVat:types\" xmlns:soapenc=\"\
        http://schemas.xmlsoap.org/soap/encoding/\" xmlns:impl=\"urn:ec.europa.eu:taxud:vies:services:checkVat\"\
        \ xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\
        >\n  <xsd:documentation>\n\t The objective of this Internet site is to allow\
        \ persons involved in the intra-Community supply of goods or of services to\
        \ obtain confirmation of the validity of the VAT identification number of\
        \ any specified person, in accordance to article 31 of Council Regulation\
        \ (EC) No. 904/2010 of 7 October 2010. \\n\n    Any other use and any extraction\
        \ and use of the data which is not in conformity with the objective of this\
        \ site is st[...]
- request:
    body: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope
      xmlns:ns0="urn:ec.europa.eu:taxud:vies:services:checkVat:types" xmlns:ns1="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><ns1:Body><ns0:checkVat><ns0:countryCode>FR</ns0:countryCode><ns0:vatNumber>54348545954</ns0:vatNumber></ns0:checkVat></ns1:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: http://ec.europa.eu/taxation_customs/vies/services/checkVatService
  response:
    body: {string: !!python/unicode '<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><checkVatResponse
        xmlns="urn:ec.europa.eu:taxud:vies:services:checkVat:types"><countryCode>FR</countryCode><vatNumber>54348545954</vatNumber><requestDate>2020-08-29+02:00</requestDate><valid>false</valid><name>---</name><address>---</address></checkVatResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
