interactions:
- request:
    body: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope
      xmlns:ns0="urn:ec.europa.eu:taxud:vies:services:checkVat:types" xmlns:ns1="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><ns1:Body><ns0:checkVat><ns0:countryCode>FR</ns0:countryCode><ns0:vatNumber>86792377731</ns0:vatNumber></ns0:checkVat></ns1:Body></SOAP-ENV:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: http://ec.europa.eu/taxation_customs/vies/services/checkVatService
  response:
    body: {string: !!python/unicode '<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><checkVatResponse
        xmlns="urn:ec.europa.eu:taxud:vies:services:checkVat:types"><countryCode>FR</countryCode><vatNumber>86792377731</vatNumber><requestDate>2020-08-29+02:00</requestDate><valid>true</valid><name>SARL
        AKRETION FRANCE</name><address>35 B RUE MONTGOLFIER

        69100 VILLEURBANNE</address></checkVatResponse></soap:Body></soap:Envelope>'}
    headers:
      content-type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
