interactions:
- request:
    body: !!python/unicode '{"requests": [{"action": "addObject", "body": {"meta_description":
      null, "meta_keywords": null, "subtitle": null, "name": "Internal", "objectID":
      3, "level": 1, "seo_title": null, "redirect_url_key": {}, "childs": [], "parent":
      {"url_key": "all", "name": "All", "parent": null, "id": 1}, "filters": [], "short_description":
      null, "url_key": "all/internal", "id": 149, "description": null}}, {"action":
      "addObject", "body": {"meta_description": null, "meta_keywords": null, "subtitle":
      null, "name": "Physical", "objectID": 6, "level": 2, "seo_title": null, "redirect_url_key":
      {}, "childs": [], "parent": {"url_key": "all/saleable", "name": "Saleable",
      "parent": {"url_key": "all", "name": "All", "parent": null, "id": 1}, "id":
      2}, "filters": [], "short_description": null, "url_key": "all/saleable/physical",
      "id": 151, "description": null}}, {[...]
