interactions:
- request:
    body: '{"requests": [{"action": "updateObject", "body": {"model": {"name": "Desk
      Combination"}, "url_key": "desk-combination-furn-7800", "redirect_url_key":
      [], "main": true, "short_description": null, "description": null, "name": "Desk
      Combination", "short_name": "", "seo_title": "Desk Combination | ", "meta_keywords":
      null, "meta_description": null, "variant_count": 1, "categories": [], "sku":
      "FURN_7800", "variant_attributes": {}, "price": {"default": {"value": 450.0,
      "tax_included": false, "original_value": 450.0, "discount": 0.0}}, "hierarchicalCategories":
      [], "id": 8, "objectID": 8}}]}'
    headers:
      Content-Type:
      - application/json
      X-Algolia-API-Key:
      - 4c043afe97c0c6681b20f9c06049fa65
      X-Algolia-Application-Id:
      - C04JR8U8Y1
    method: POST
    uri: https://c04jr8u8y1.algolia.net/1/indexes/demo_algolia_backend_shopinvader_variant_en_US/batch
  response:
    body:
      string: '{"objectIDs":["8"],"taskID":1090244763000}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
